USE [db_a44336_baderaccounting]
GO
/****** Object:  StoredProcedure [dbo].[GetInvoiceXML]    Script Date: 7/14/2025 4:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[GetInvoiceXML]
    @InvoiceID INT
AS
BEGIN
    SET NOCOUNT ON;

     WITH XMLNAMESPACES (
        DEFAULT  'urn:oasis:names:specification:ubl:schema:xsd:Invoice-2',
        'urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2' AS "cac",
        'urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2' AS "cbc",
		'urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2' AS "ext"
    )
    SELECT 
        -- Main Info
		'reporting:1.0' AS "cbc:ProfileID",
        V.ARAPInvoiceCode AS "cbc:ID",
        V.InvoiceGUID AS "cbc:UUID",
        FORMAT(V.InvoiceDate, 'yyyy-MM-dd') AS "cbc:IssueDate",
		'012' AS "cbc:InvoiceTypeCode/@name" , -- 012 For Cash , 022 For Credit
        '388' AS "cbc:InvoiceTypeCode", -- 388 = General sales Invoice
		'' AS "cbc:Note" ,
        'JOD' AS "cbc:DocumentCurrencyCode",
        'JOD' AS "cbc:TaxCurrencyCode",
		'ICV' AS "cac:AdditionalDocumentReference/cbc:ID",
		 V.ARAPInvoiceCode AS "cac:AdditionalDocumentReference/cbc:UUID",
		 
        -- Seller Info 
        (
            SELECT 
                'JO' AS "cac:Party/cac:PostalAddress/cac:Country/cbc:IdentificationCode",
                C.TaxNo AS "cac:Party/cac:PartyTaxScheme/cbc:CompanyID", 
                'VAT' AS "cac:Party/cac:PartyTaxScheme/cac:TaxScheme/cbc:ID",
                C.CompanyNameL AS "cac:Party/cac:PartyLegalEntity/cbc:RegistrationName"
            FROM Company C WITH(NOLOCK)
            FOR XML PATH('cac:AccountingSupplierParty'), TYPE
        ),

        -- Buyer Info 
        (
            SELECT 
			    'TN' AS "cac:Party/cac:PartyIdentification/cbc:ID/@schemeID", -- Type : TAX No  
                C.GPs_X AS "cac:Party/cac:PartyIdentification/cbc:ID", -- TAX No               
			    C.BOBOX AS "cac:Party/cac:PostalAddress/cbc:PostalZone", -- PostalZone 
			   'JO-AM' AS "cac:Party/cac:PostalAddress/cbc:CountrySubentityCode", -- City -- * Must from Lockup table * JO_AM »  Mean Aman 
 			   'JO' AS "cac:Party/cac:PostalAddress/cac:Country/cbc:IdentificationCode",
                ISNULL( C.GPs_Y , C.GPs_X) AS "cac:Party/cac:PartyTaxScheme/cbc:CompanyID",   
                'VAT' AS "cac:Party/cac:PartyTaxScheme/cac:TaxScheme/cbc:ID",
                C.ARAPNameL AS "cac:Party/cac:PartyLegalEntity/cbc:RegistrationName",
                C.Phone1 AS "cac:AccountingContact/cbc:Telephone"
            FROM ARAP_Defenition C WITH(NOLOCK)
            WHERE C.ARAPID = V.ARAPID
            FOR XML PATH('cac:AccountingCustomerParty'), TYPE
        ),


        -- ÊÓáÓá ãÕÏÑ ÇáÏÎá
        (
            SELECT 
                 Address2 AS "cac:Party/cac:PartyIdentification/cbc:ID" --   ãä äÙÇã ÇáÝæÊÑÉ
				FROM Company WITH(NOLOCK)
            FOR XML PATH('cac:SellerSupplierParty'), TYPE
        ),

        -- Discount Amount
        (
            SELECT 
                'false' AS "cbc:ChargeIndicator"  ,
                'discount' AS "cbc:AllowanceChargeReason"  ,
                 'JO' AS "cbc:Amount/@currencyID"  ,
                 0 AS "cbc:Amount"   

            FOR XML PATH('cac:AllowanceCharge'), TYPE
        ),

		-- Tax Amount
        (
            SELECT 
			'JO' AS "cbc:TaxAmount/@currencyID",
             dbo.fn_Fotara_Calculate_TotalTaxAmount(@InvoiceID)  AS "cbc:TaxAmount"   

            FOR XML PATH('cac:TaxTotal'), TYPE
        ),
        -- Invoice Summary
        (
            SELECT 
                'JO' AS "cbc:TaxExclusiveAmount/@currencyID",
                dbo.fn_Fotara_Calculate_TaxExclusiveAmount(@InvoiceID) AS "cbc:TaxExclusiveAmount",
                'JO' AS "cbc:TaxInclusiveAmount/@currencyID",
                dbo.fn_Fotara_Calculate_TotalAmount(@InvoiceID)  AS "cbc:TaxInclusiveAmount",
                'JO' AS "cbc:AllowanceTotalAmount/@currencyID",
                cast(V.TotalDiscountAmt as decimal(20,9))  AS "cbc:AllowanceTotalAmount",
                'JO' AS "cbc:PayableAmount/@currencyID" ,
                dbo.fn_Fotara_Calculate_TotalAmount(@InvoiceID)  AS "cbc:PayableAmount"
            FOR XML PATH('cac:LegalMonetaryTotal'), TYPE
        ),

        -- Itmes Info 
        (
            SELECT 
                ROW_NUMBER() OVER (ORDER BY D.ARAPInvoiceD_ID) AS "cbc:ID",
                'PCE' AS "cbc:InvoicedQuantity/@unitCode",
                D.Qty AS "cbc:InvoicedQuantity",
                'JO' AS "cbc:LineExtensionAmount/@currencyID",
                cast(D.Qty * dbo.fn_Fotara_CalcItemPrice(T.PercAmt,D.ItemPrice) as decimal(20,9))   AS "cbc:LineExtensionAmount",
				
				'JO' AS "cac:TaxTotal/cbc:TaxAmount/@currencyID",
				cast(D.Qty * dbo.fn_Fotara_CalcItemPrice(T.PercAmt,D.ItemPrice) * CASE WHEN T.PercAmt IS NULL OR T.PercAmt = 0 THEN 0 ELSE T.PercAmt/100 END as decimal(20,9))   AS "cac:TaxTotal/cbc:TaxAmount",
				'JO' AS "cac:TaxTotal/cbc:RoundingAmount/@currencyID",
				cast(D.Qty * dbo.fn_Fotara_CalcItemPrice(T.PercAmt,D.ItemPrice) * CASE WHEN T.PercAmt IS NULL OR T.PercAmt = 0 THEN 1 ELSE ( 1 + (T.PercAmt / 100 )) END as decimal(20,9))  AS "cac:TaxTotal/cbc:RoundingAmount",
				'JO' AS "cac:TaxTotal/cac:TaxSubtotal/cbc:TaxAmount/@currencyID",
				cast(D.Qty * dbo.fn_Fotara_CalcItemPrice(T.PercAmt,D.ItemPrice) * CASE WHEN T.PercAmt IS NULL OR T.PercAmt = 0 THEN 0 ELSE T.PercAmt/100 END as decimal(20,9))  AS "cac:TaxTotal/cac:TaxSubtotal/cbc:TaxAmount",
				'6' AS "cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:ID/@schemeAgencyID",
				'UN/ECE 5305' AS "cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:ID/@schemeID",
				CASE WHEN T.PercAmt IS NULL OR T.PercAmt = 0 THEN 'O' ELSE 'S' END  AS "cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:ID",
				CAST(T.PercAmt AS INT) AS "cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:Percent",
				'6' AS "cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cac:TaxScheme/cbc:ID/@schemeAgencyID",
				'UN/ECE 5153' AS "cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cac:TaxScheme/cbc:ID/@schemeID",
				'VAT' AS "cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cac:TaxScheme/cbc:ID",

                D.Note AS "cac:Item/cbc:Name",
                'JO' AS "cac:Price/cbc:PriceAmount/@currencyID",
                 dbo.fn_Fotara_CalcItemPrice(T.PercAmt,D.ItemPrice) AS "cac:Price/cbc:PriceAmount",
                'false' AS "cac:Price/cac:AllowanceCharge/cbc:ChargeIndicator",
                'DISCOUNT' AS "cac:Price/cac:AllowanceCharge/cbc:AllowanceChargeReason",
                'JO' AS "cac:Price/cac:AllowanceCharge/cbc:Amount/@currencyID" ,
                 0 AS "cac:Price/cac:AllowanceCharge/cbc:Amount"  -- Discount Amount

             FROM ARAPInvoiceD D WITH(NOLOCK)
            INNER JOIN WMS_Item I  WITH(NOLOCK) ON D.ItemID = I.ItemID
			INNER JOIN Tax T  WITH(NOLOCK) ON D.TaxID = T.TaxID
            WHERE D.ARAPInvoiceHID = V.ARAPInvoiceHID
            FOR XML PATH('cac:InvoiceLine'), TYPE
        )

    FROM ARAPInvoiceH V   -- View Return Inovice Totals  
    WHERE V.ARAPInvoiceHID = @InvoiceID
    FOR XML PATH('Invoice'), ELEMENTS;
END;
